#set($id = $doc.getFieldValue('dataset_id'))
<div id="#result_id($doc)" class="doc">
  <div class="stats">
    <div class="count">
      #set($count = $response.results.indexOf($doc) + $page.start + 1)
      # $count
    </div>
    <div class="score">
      <a href="#">
        #field("score")
      </a>
      #if($response.getExplainMap())
      <div class="exp">
        $response.getExplainMap().get($id)
      </div>
      #end
    </div>
  </div>

  <div class="title">

    <a target="_top" href="http://hdl.handle.net/#esc_doi("#f('doi')")">Sample #f("doi")</a>

    <span class="version">
      #if_has_field("version", "[version #field('version')]")
    </span>



  <span class="info">

	#if($doc.containsKey("iso") && $doc.getFieldValue("iso") != "")
    		<a target="_top" style="display:none" class="doi" href="http://doidb.wdc-terra.org/igsnaaoaip/oai?verb=GetRecord&metadataPrefix=iso19139&identifier=oai:gfzaa.igsn.org:#esc_doi("#f('dataset_id')")"> ISO19139(INSPIRE) </a>
	#else
		#if ($doc.containsKey("dif") && $doc.getFieldValue("dif") != "")
    		<a target="_top" style="display:none" class="doi" href="http://doidb.wdc-terra.org/igsnaaoaip/oai?verb=GetRecord&metadataPrefix=iso19139&identifier=oai:gfzaa.igsn.org:#esc_doi("#f('dataset_id')")"> ISO19139(DIF-converted) </a>
		#end

	#end
	#if($doc.containsKey("dif") && $doc.getFieldValue("dif") != "")
    		<a target="_top" style="display:none" class="doi" href="http://doidb.wdc-terra.org/igsnaaoaip/oai?verb=GetRecord&metadataPrefix=dif&identifier=oai:gfzaa.igsn.org:#esc_doi("#f('dataset_id')")"> DIF </a>
	#end
   #if($doc.getFieldValue('has_metadata'))
	<a target="_top" class="doi" href="/igsnaaoaip/oai?verb=GetRecord&metadataPrefix=igsngfz&identifier=oai:gfzaa.igsn.org:#esc_doi("#f('dataset_id')")">IGSN metadata</a>
	#end

  </span>



  </div>

  <div class="short">
    #field_et_al("creator",5)
    #if(! $doc.getFieldValue("has_metadata"))
      [no metadata registered]
    #end
  </div>
  <div class="full"></div>
  <div class="hl">
    #if($request.params.q != "*")
      #parse("ui/hl.vm")
    #end
  </div>
</div>
