<title>GFZ Data Services: DOIDB Metadata Search</title>

<script type="text/javascript" src="resources/js/browser-support.js"></script>
<script type="text/javascript" src="resources/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="resources/js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="resources/js/jquery-custom.js"></script>
<script type="text/javascript" src="resources/js/jquery.cookie.js"></script>
<script type="text/javascript" src="resources/js/jquery.base64.js"></script>

<script type="text/javascript">
<!--
if ( typeof window.JSON === 'undefined' ) {
  document.write('<script type="text/javascript" src="resources/js/history/json2.js"><\/script>');
}
-->
</script>
<script type="text/javascript" src="resources/js/history/history.adapter.jquery.js"></script>
<script type="text/javascript" src="resources/js/history/history.js"></script>
<script type="text/javascript" src="resources/js/history/history.html4.js"></script>

<script type="text/javascript" src="resources/js/ui.js"></script>
<script type="text/javascript" src="resources/js/ui-advanced.js"></script>

<link rel="stylesheet" type="text/css" href="resources/css/jquery-ui-1.8.14.custom.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/ui.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/doidb.css"/>

<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="resources/css/ui_ie.css" />
<![endif]--> 

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

<script src="resources/js/Leaflet.draw/src/Leaflet.draw.js"></script>
<script src="resources/js/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>

<link rel="stylesheet" href="resources/js/Leaflet.draw/src/leaflet.draw.css" />

<script src="resources/js/Leaflet.draw/src/Toolbar.js"></script>
<script src="resources/js/Leaflet.draw/src/Tooltip.js"></script>

<script src="resources/js/Leaflet.draw/src/ext/GeometryUtil.js"></script>
<script src="resources/js/Leaflet.draw/src/ext/LatLngUtil.js"></script>
<script src="resources/js/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
<script src="resources/js/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
<script src="resources/js/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
<script src="resources/js/Leaflet.draw/src/ext/TouchEvents.js"></script>

<script src="resources/js/Leaflet.draw/src/draw/DrawToolbar.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
<script src="resources/js/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>


<script src="resources/js/Leaflet.draw/src/edit/EditToolbar.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>

<script src="resources/js/Leaflet.draw/src/Control.Draw.js"></script>

<script src="resources/js/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
<script src="resources/js/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>





 
<link rel="SHORTCUT ICON" href="favicon.ico"/>
<link rel="search" href="opensearch_description.xml" 
      type="application/opensearchdescription+xml"
      title="GFZ Data Services: DOIDB Metadata Search" />
